.col-md-6
  .grid.simple
    .grid-title.no-border
      %h4
        Detalle de turnos registrados en el mes
    .grid-body.no-border
      %p
      %br
      - if Attention.connection_config[:adapter] == 'mysql2'
        = line_chart @attentions.group("DATE_FORMAT(created_at, '%Y-%m-%d')").count, width: "100%", height: "80%"
      - else
        = line_chart @attentions.group('CONVERT(VARCHAR(10), created_at, 120)').count, width: "100%", height: "80%"

.col-md-6
  .grid.simple
    .grid-title.no-border
      %h4
        Detalle de usuarios registrados en el mes
    .grid-body.no-border
      %p
        Totales de usuarios generados para el presente me
      %br
      - if Attention.connection_config[:adapter] == 'mysql2'
        = line_chart @users.group("DATE_FORMAT(created_at, '%Y-%m-%d')").count, width: "100%", height: "80%"
      - else
        = line_chart @users.group('CONVERT(VARCHAR(10), created_at, 120)').count, width: "100%", height: "80%"
